html {
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

* {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header,.hero,
.footer {
    background-color: #1F2937;
    margin: 0;
    padding: 0 14px;
}

.content-2,
.extras,
.small-images {
    display: flex;
}

.c1-padding {
    width: 325px;
    min-width: 30px;
    flex: auto;
}

.header-hero {
    flex-direction: column;
    width: 100%;
    flex: auto;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0px;
    gap: 14px;
    align-items: baseline;
    max-width: 1280px;
    margin: auto;
}

.header {
    padding-top: 20px;
}

.hero {
    display: flex;
    padding: 120px 0px;
}

.header-logo,
.hero-main-text {
    color: #F9FAF8;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: auto;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
}

.header-link,
.hero-subtext,
.footer {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-text {
    margin-right: 30px;
    min-width: 300px; 
}

.hero-subtext {
    margin: 20px 0px;
}

.sign-up-button {
    background-color: #3882F6;
    border-style: none;
    border-radius: 8px;
    color: #F9FAF8;
    height: 40px;
    width: 140px;
    font-size: 18px;
    font-weight: bold;
}

img {
    height: 300px;
}

.info-header {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    padding: 50px 0px;
}

.extras {
    flex-direction: column;
}

.placeholder {
    width: 180px;
}

.small-image {
    width: 100%;
    height: 180px;
    border-style: solid;
    border-radius: 15px;
    border-width: 4px;
    border-color: #3882F6;
}

.description {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.648);
    text-align: center;
}

.footer {
    text-align: center;
    padding: 30px;
}

